---
swagger: "2.0"
info:
  description: FileCloud HTTP API
  version: 1.0.0
  title: FileCloud_User_API
  termsOfService: https://www.getfilecloud.com/tos/
host: swaggerfc.getfilecloud.com
tags:
- name: login
  description: Login Related API(s) is used when a user wants to login to the FileCloud User Portal to access or make changes to the files in the system.
- name: file
  description: File Related API is used to make changes to the files such as download, delete, upload files, search for files, etc.
- name: activity
  description: Activity Related API is used to show the changes and actions happening to a file and folder in the system, which is useful when multiple people are working on same set of files
- name: rmc
  description: RMC Related API is used to manage devices from the User Portal after remote management is enabled
- name: security
  description: Security Permission Related API is used to provide a way to allow some actions (permissions) on a parent, or top-level folder while restricting those actions on a specific sub-folder
- name: system
  description: System Related API is used to know information about the system such as authentication, language list, disk usage and status of system
- name: versioning
  description: Versioning Related API is used to manage versions of a newly uploaded changes to a file and exiting ones
- name: share
  description: Share Related API is used to manage sharing and it's permissions of a file/ folder by either public or private sharing modes
- name: favorite
  description: Favorite Related API is used to manage by adding the user's favorite files/folders to a favorite list where the user can access it
- name: image
  description: Image Related API is used to manage how the images are accessed
- name: lock
  description: Lock Related API is used to prevent opening or accessing files between different user accounts
- name: comment
  description: Comment Related API is used where users can add details about the status of a file or the purpose for a folder.
- name: notification
  description: Notification Related API is used to manage notifications when any changes are made to the file by a user
- name: privacy
  description: Privacy Related API  is used to track personally identifiable information (PII) explicity
- name: profile
  description: Profile Related API is used to create a user profile and manage the user's profile settings
- name: shortcuts
  description: Shortcuts Related API is used to create upto 10 shortcuts which allows the user to create a link to any path that the user can access.
- name: webedit
  description: WebEdit Related API is used for FileCloud users to select any supported document and edit the document from within the system
- name: metadata
  description: Metadata Related API is used to manage data that provides additional information about files and folders available in the system
- name: casb
  description: basic file operations using casb(please note that the endpoints in this section needs an additional header which contains the authorization key for casb. Example- --header 'Authorization= 7cCtfh8IsnOyJQpWJG6XYjiMZhCEdrnC'  
schemes:
- https
- http
paths:
  /core/loginguest:
    post:
      tags:
      - login
      summary: Login_Related_API - loginguest Lets user login to the FileCloud User Portal to access files
      description: This API allows user to login into filecloud system and access their respective data (HTTP POST)
      operationId: loginguest
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: userid
        in: query
        description: This paramenter allows to enter the user's login name.
        required: true
        type: string
      - name: password
        in: query
        description: This parameter allows to enter the user's Password.
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/2falogin:
    post:
      tags:
      - login
      summary: Two-step-verification process for login of a user
      description: User has to enter a code that has been sent to the email id configured with the account, to successfully login (HTTP POST)
      operationId: 2falogin
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: userid
        in: query
        description: User's login name.
        required: true
        type: string
      - name: code
        in: query
        description: Enter the code you have recieved in your email
        required: true
        type: string
      - name: token
        in: query
        description: Enter the token you had recieved in message field while performing loginguest api call
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/get2fagasecret:
    get:
      tags:
      - login
      summary: Login_Related_API - get2fagasecret lets a user login to the user portal using google authenticator verification process.
      description: Gets 2FA secret code to login using Google Authenticator (HTTP POST)
      operationId: get2fagasecret
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: userid
        in: query
        description: Specify the user name
        required: true
        type: string
      - name: token
        in: query
        description: Enter the token you had recieved in message field while performing loginguest api call
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/resend2facode:
    post:
      tags:
      - login
      summary: Login_Related_API - resend2facode lets user to resend 2fa code to the user's email.
      description: Resend 2facode to get a new code to login via 2falogin (HTTP POST)
      operationId: resend2facode
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: userid
        in: query
        description: Users login name
        required: true
        type: string
      - name: token
        in: query
        description: Enter the token you had recieved in message field while performing loginguest api call (HTTP POST)
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/resetpassword:
    post:
      tags:
      - login
      summary: Login_Related_API - resetpassword lets user to reset password
      description: User can reset password of their account, when they have forgotten the password (HTTP POST)
      operationId: resetpassword
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: profile
        in: query
        description: Profile name of the user
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/locksession:
    post:
      tags:
      - login
      summary: Login_Related_API - locksession is a user logout call
      description: User Logout api call to logout of the filecloud system (HTTP POST)
      operationId: locksession
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters: []
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/verifyemail:
    post:
      tags:
      - login
      summary: Login_Related_API - verifyemail lets a new user to verify his/her email id
      description: New users can verify their respective email ids by clicking on the verification link sent to their email (HTTP POST)
      operationId: verifyemail
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: u
        in: query
        description: Email id of the user
        required: true
        type: string
      - name: tag
        in: query
        description: Specify Verify tag
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/getactivitystream:
    post:
      tags:
      - activity
      summary: Activity_Related_API - getactivitystream gets all the activities of the file/folder
      description: Users can track the actions which are performed on a file or folder, which are displayed in the User Portal.
      operationId: getactivitystream
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/octet-stream
      parameters:
      - name: parent
        in: query
        description: Specify the path for which you want to get the activity list
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/activities'
  /core/getauditgeoipdata:
    post:
      tags:
      - activity
      summary: Activity_Related_API - getauditgeoipdata displays the geo-location of a request made
      description: USer will be able to see the geo-location and ip information about the activities.
      operationId: getauditgeoipdata
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: op
        in: query
        description: Specify the operation name
        required: true
        type: string
      - name: ipaddress
        in: query
        description: Specify the ipaddress of the request made
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/results'
  /core/showhideactivity:
    get:
      tags:
      - activity
      summary: Activity_Related_API - showhideactivity is used to hide the activity panel from user portal
      description: Users will not be able to see the Activity panel if the activity column is disabled or hidden.
      operationId: showhideactivity
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: collapse
        in: query
        description: Set as 1 to hide activity panel
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/addsettofileobject:
    post:
      tags:
      - metadata
      summary: Metadata_Related_API - addsettofileobject lets a user to add set to the list of available metadata sets
      description: User can add a set to list of available metadata sets which are associated with a selected file or folder.
      operationId: addsettofileobject
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: fullpath
        in: query
        description: Full path of metadata set
        required: true
        type: string
      - name: setid
        in: query
        description: Metadataset id
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/getavailablemetadatasets:
    post:
      tags:
      - metadata
      summary: Metadata_Related_API - getavailablemetadatasets is used to retrieve the list of all available metadata sets
      description: User can see the list of all available metadata sets of a file or folder for a particular path
      operationId: getavailablemetadatasets
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: fullpath
        in: query
        description: Lists the full path of a metadata set
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/metadatasets'
  /core/getmetadatasetsforsearch:
    post:
      tags:
      - metadata
      summary: Metadata_Related_API - getmetadatasetsforsearch is used to perform an exact match search
      description: User should specify the whole value inorder for a metadata search and every metadata search condition is used to narrow down the search.
      operationId: getmetadatasetsforsearch
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: fullpath
        in: query
        description: Full path of metadata set
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/metadatasets'
  /core/removesetfromfileobject:
    post:
      tags:
      - metadata
      summary: Metadata_Related_API - removesetfromfileobject lets a user to remove set from the list of available metadata sets
      description: User can remove a set from list of available metadata sets which are associated with a selected file or folder.
      operationId: removesetfromfileobject
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: fullpath
        in: query
        description: Full path of metadata set
        required: true
        type: string
      - name: setid
        in: query
        description: Metadata SetID
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/saveattributevalues:
    post:
      tags:
      - metadata
      summary: Metadata_Related_API - saveattributevalues allows user to save the metadata after providing additional information
      description: This API allows user to save the attribute values of a metadata i.e., after providing additional information about files and folders
      operationId: saveattributevalues
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: fullpath
        in: query
        description: Full path of metadata set
        required: true
        type: string
      - name: setid
        in: query
        description: Metadata SetID
        required: true
        type: string
      - name: attribute
        in: query
        description: n_attributeid Attribute n set from 0 to any number (eg. attribute0_attributeid, attribute1_attributeid, etc)
        required: true
        type: string
      - name: attributes_total
        in: query
        description: Total number of attributes
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/addcommentforitem:
    post:
      tags:
      - comment
      summary: Comment_Related_API - addcommentforitem lets user add comments for a file or folder
      description: User can add details about the status of a file or the purpose for a folder in the Comments section
      operationId: addcommentforitem
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: fullpath
        in: query
        description: Specify the full path where you want to add comment
        required: true
        type: string
      - name: parent
        in: query
        description: Specify the parent name
        required: true
        type: string
      - name: isfile
        in: query
        description: Specify 0 if the path is a folder , 1 if the path is a file
        required: true
        type: string
      - name: text
        in: query
        description: Add the comment you want to add for a file/folder
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/comments'
  /core/getcommentsforitem:
    post:
      tags:
      - comment
      summary: Comment_Related_API - getcommentsforitem lets user read comments for a file or folder
      description: User can read all comments about the status of a file or the purpose for a folder in the Comments section
      operationId: getcommentsforitem
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/octet-stream
      parameters:
      - name: fullpath
        in: query
        description: Specify the full path where you want to add
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/comments'
  /core/removecommentforitem:
    post:
      tags:
      - comment
      summary: Comment_Related_API - removecommentforitem lets user delete comments for a file or folder
      description: User can delete a single or all comments associated with the file or folder in the Comments section
      operationId: removecommentforitem
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: fullpath
        in: query
        description: Specify the full path where you want to remove the comment
        required: true
        type: string
      - name: id
        in: query
        description: Id number of the comment
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /app/explorer/createfolder:
    post:
      tags:
      - file
      summary: File_Related_API - createfolder lets user to create a folder in a particular path
      description: User can create folder in FC system (HTTP POST)
      operationId: createfolder
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: name
        in: query
        description: Name of the folder to be created
        required: true
        type: string
      - name: path
        in: query
        description: Path where you want to create the folder
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/cancelsearch:
    post:
      tags:
      - file
      summary: File_Related_API - cancelsearch lets user to cancel search while the search is in progress
      description: User can cancel the search while an ongoing search is in progress for the entered search term
      operationId: cancelsearch
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: searchid
        in: query
        description: Specify the search ID
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/clearsavedsearchterms:
    post:
      tags:
      - file
      summary: File_Related_API - clearsavedsearchterms is used to clear the previously saved search term
      description: Users will be able to clear the saved search terms which was entered previously while performing the search action
      operationId: clearsavedsearchterms
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters: []
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/copyfile:
    post:
      tags:
      - file
      summary: File_Related_API - copyfile is used to copy files from one path to another path
      description: User can copy files from one location to another in the FC system (HTTP POST)
      operationId: copyfile
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: copyto
        in: query
        description: Path where the files has to be copied
        required: true
        type: string
      - name: path
        in: query
        description: Path where the files reside
        required: true
        type: string
      - name: name
        in: query
        description: Name of the image file, eg- /Path/Image file name.
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/deletefile:
    post:
      tags:
      - file
      summary: File_Related_API - deletefile is used to delete a file/folder from particular location
      description: User can delete file/folder in the system (HTTP POST)
      operationId: deletefile
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: path
        in: query
        description: Path of the file where it resides.
        required: true
        type: string
      - name: name
        in: query
        description: Name of the file to be deleted.
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/deletepartialuploads:
    post:
      tags:
      - file
      summary: File_Related_API - deletepartialuploads is used to delete files which were uploaded partially
      description: Users can delete files that have only been partially uploaded by them
      operationId: deletepartialuploads
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: ignorets
        in: query
        description: Set value to 1 to delete partial uploads using API call
        required: true
        type: integer
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/docconvert:
    post:
      tags:
      - file
      summary: File_Related_API - docconvert is used to preview files
      description: Users can preview files of different formats supported by FC system
      operationId: docconvert
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: name
        in: query
        description: Specify the file location
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            type: string
  /core/docedit:
    post:
      tags:
      - file
      summary: File_Related_API - docedit is used to edit documents
      description: User can edit documents
      operationId: docedit
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: path
        in: query
        description: Path of the file where it resides
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            type: string
  /core/emptyrecyclebin:
    post:
      tags:
      - file
      summary: File_Related_API - emptyrecyclebin is used to empty the user's recycly bin
      description: Users can delete either few selected files or clearing all the files by going to the recycle bin
      operationId: emptyrecyclebin
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters: []
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/fileexists:
    post:
      tags:
      - file
      summary: File_Related_API - fileexists is used to check if a file exists or not
      description: User can check if the file exists in the system
      operationId: fileexists
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: file
        in: query
        description: Path of the file where it resides
        required: true
        type: string
      - name: caseinsensitive
        in: query
        description: when this param is set to 1, fileexist call will disable the upper/lower case check in filenames.(can be 0 or 1)
        required: false
        type: boolean        
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/renamefile:
    post:
      tags:
      - file
      summary: File_Related_API - renamefile is used to rename a file in any particular location
      description: User can rename file in the system (HTTP POST)
      operationId: renamefile
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: path
        in: query
        description: Path of the file where it resides.
        required: true
        type: string
      - name: name
        in: query
        description: Name of the file to be renamed.
        required: true
        type: string
      - name: newname
        in: query
        description: Name of the file with the path where the file has to be moved.
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/renameormove:
    post:
      tags:
      - file
      summary: File_Related_API - renameormove is used to move files within the FC system
      description: User can move files from one location to another in the system (HTTP POST)
      operationId: renameormove
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: fromname
        in: query
        description: Name of the file with the path where the file resides.
        required: true
        type: string
      - name: toname
        in: query
        description: Name of the file with the path where the file has to be moved.
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/dosearch:
    post:
      tags:
      - file
      summary: File_Related_API - dosearch is used to search for a file or folder
      description: Users can perform search operation for a file/folder
      operationId: dosearch
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: searchstring
        in: query
        description: Keyword to search
        required: true
        type: string
      - name: searchloc
        in: query
        description: Specify the directory path in which you want to perform search.
        required: true
        type: string
      - name: minsize
        in: query
        description: (optional)Specify the size in kb, the search will show files that is greater than and equal to the size mentioned.
        required: true
        type: string
      - name: maxsize
        in: query
        description: (optional)Specify the size in kb, the search will show files that is lesser than and equal to the size mentioned.
        required: true
        type: string
      - name: modifiedstart
        in: query
        description: (optional)Specify the value in date format, the search will show files that was created on and after the date mentioned
        required: false
        type: string
        format: date
      - name: modifiedend
        in: query
        description: (optional)Specify the value in date format, the search will show files that was created before the date mentioned
        required: false
        type: string
        format: date
      - name: searchscope
        in: query
        description: Specify the search scope
        required: true
        type: number
      - name: start
        in: query
        description: Set to 0
        required: true
        type: number
      - name: size
        in: query
        description: Specify the search record limit value
        required: true
        type: number
      - name: maxsearchentries
        in: query
        description: Maximum number of search entries
        required: true
        type: number
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/entries'
  /core/downloadfile:
    get:
      tags:
      - file
      summary: File_Related_API - downloadfile is used to download files from a location
      description: Download file in FileCould System (HTTP GET)
      operationId: downloadfile
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/octet-stream
      parameters:
      - name: filepath
        in: query
        description: Path of the file where it resides and with the name of the file to be downloaded.
        required: true
        type: string
      - name: filename
        in: query
        description: Name of the file to be downloaded
        required: true
        type: string
      - name: redirect
        in: query
        description: (Optional)Set it to 1 to directly download from Amazon S3
        required: false
        type: string
      responses:
        "200":
          description: Downloads a file
          schema:
            type: string
            format: binary
  /core/downloadfilemulti:
    get:
      tags:
      - file
      summary: File_Related_API - downloadfilemulti is used to download multiple files
      description: User can download multiple files from FileCould System (HTTP GET)
      operationId: downloadfilemulti
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/octet-stream
      parameters:
      - name: count
        in: query
        description: Number of files to be downloaded
        required: true
        type: number
      - name: filepath
        in: query
        description: Path of the file where it resides.
        required: true
        type: string
      - name: fn1
        in: query
        description: First file name selected for download
        required: true
        type: string
      - name: fn2
        in: query
        description: Second file name selected for download {To downlaod more keep adding param's like fn3, fn4..}
        required: true
        type: string
      responses:
        "200":
          description: Selected file's are zipped and downloaded.
          schema:
            type: string
            format: binary
  /core/fileinfo:
    post:
      tags:
      - file
      summary: File_Related_API - fileinfo is used to view information about file
      description: User can fetch information about a file
      operationId: fileinfo
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: file
        in: query
        description: Path of file to be specified
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/fileinfo'
  /core/addfavoritelist:
    post:
      tags:
      - favorite
      summary: Favorite_Related_API - addfavoritelist is used to add files to a favorite list in the system
      description: User can add files to either an existing or new favorite list in the system
      operationId: addfavoritelist
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: name
        in: query
        description: Name of the file to be added to favorites.
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/clearfavoritesinnamedlist:
    post:
      tags:
      - favorite
      summary: Favorite_Related_API - clearfavoritesinnamedlist is used to remove files from the favorite list
      description: User can remove files from the existing favorite lists.
      operationId: clearfavoritesinnamedlist
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: name
        in: query
        description: Name of the Favorite List
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/getallfavoritelists:
    get:
      tags:
      - favorite
      summary: Favorite_Related_API - getallfavoritelists is used to retrieve all the favorite lists in system
      description: User can view all the existing favorites lists which are present in the system
      operationId: getallfavoritelists
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: type
        in: query
        description: Type here is favorites
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/favoritelists'
  /core/getfavoritelistforitem:
    get:
      tags:
      - favorite
      summary: Favorite_Related_API - getfavoritelistforitem is used to get all the available favorite lists for a selected item
      description: User can get all the available favorite lists for the item
      operationId: getfavoritelistforitem
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: path
        in: query
        description: Specify the path of file
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/favoritelists'
  /core/getfavoritesinlist:
    get:
      tags:
      - favorite
      summary: Favorite_Related_API - getfavoritesinlist is used to get all the items in a favorite list
      description: User can get all the items which are associated to a selected favorite list
      operationId: getfavoritesinlist
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: id
        in: query
        description: Id of the Favorite List
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/entries'
  /core/getfavoritesinnamedlist:
    get:
      tags:
      - favorite
      summary: Favorite_Related_API - getfavoritesinnamedlist is used to get all the items from the name of favorite list specified
      description: User can get all the items which are present by specifying the name of a favorite list
      operationId: getfavoritesinnamedlist
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: name
        in: query
        description: Name of the Favorite List
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/entries'
  /core/removefavoritelist:
    post:
      tags:
      - favorite
      summary: Favorite_Related_API - removefavoritelist is used to remove the favorite list from system
      description: User can remove the existing favorite list from the system
      operationId: removefavoritelist
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: id
        in: query
        description: Id number of the favorite list to be deleted
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/replacefavoritelist:
    post:
      tags:
      - favorite
      summary: Favorite_Related_API - replacefavoritelist is used to replace a favorite list
      description: User can replace a favorite list in system
      operationId: replacefavoritelist
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: id
        in: query
        description: Id number of the favorite list
        required: true
        type: string
      - name: count
        in: query
        description: Number of files
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/setfavorite:
    post:
      tags:
      - favorite
      summary: Favorite_Related_API - setfavorite is used to add a file to a favorite list
      description: User can add file to their Favorite list in the system
      operationId: setfavorite
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: id
        in: query
        description: Id number of the favorite list
        required: true
        type: string
      - name: name
        in: query
        description: Name of the file to be added to favorites.
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/unsetfavorite:
    post:
      tags:
      - favorite
      summary: Favorite_Related_API - unsetfavorite is used to remove a file from the favorite list
      description: User can remove a file from their Favorite list in the system
      operationId: unsetfavorite
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: id
        in: query
        description: Id number of the favorite list
        required: true
        type: string
      - name: name
        in: query
        description: Name of the file to be added to favorites.
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/updatefavoritelist:
    post:
      tags:
      - favorite
      summary: Favorite_Related_API - updatefavoritelist is used to update an existing favorite list
      description: User can update an existing favorite list
      operationId: updatefavoritelist
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: id
        in: query
        description: Id number of the favorite list
        required: true
        type: string
      - name: name
        in: query
        description: Name of the file to be added to favorites.
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/addshortcut:
    post:
      tags:
      - shortcuts
      summary: Shortcut_Related_API - addshortcut is used to create a shortcut to access a path easily.
      description: User can add a Shortcut which creates a link for the user to access any path
      operationId: addshortcut
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: scname
        in: query
        description: Specify the folder name you want to add in the shortcuts
        required: true
        type: string
      - name: scvalue
        in: query
        description: Specify the path of the folder
        required: true
        type: string
      - name: sctype
        in: query
        description: Specify the type of shortcuts
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/deleteshortcut:
    post:
      tags:
      - shortcuts
      summary: Shortcut_Related_API - deleteshortcut is used to delete the existing shortcut in the system
      description: USer can delete the shortcut which was created for easy access to any path
      operationId: deleteshortcut
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: rid
        in: query
        description: Specify the id
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/getshortcuts:
    post:
      tags:
      - shortcuts
      summary: Shortcut_Related_API - getshortcuts is used to get the list of all shortcuts
      description: USer can get the list of all available shortcuts in the system
      operationId: getshortcuts
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: start
        in: query
        description: Specify as 0
        required: true
        type: string
      - name: limit
        in: query
        description: Specify as 10
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/shortcuts'
  /core/beginprofilecreation:
    post:
      tags:
      - profile
      summary: Profile_Related_API - beginprofilecreation is used to create a profile for user
      description: This API is used to create a profile for the user
      operationId: beginprofilecreation
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters: []
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/profilecreation_profilecreationrecord'
  /core/changelanguage:
    get:
      tags:
      - profile
      summary: Profile_Related_API - changelanguage is used to change the language of FC system from the specified languages
      description: User can change the language of the system
      operationId: changelanguage
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: lang
        in: query
        description: Specify the language you want to set
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/checkid:
    get:
      tags:
      - profile
      summary: Profile_Related_API - checkid is used to check if the mentioned username by the user is available or not in the FC system.
      description: User can check if the specified name by the user is available to create account in the FC system
      operationId: checkid
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: id
        in: query
        description: Specify the name you want to check for availablity
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/createprofile:
    post:
      tags:
      - profile
      summary: Profile_Related_API - createprofile is used to create an account for a new user
      description: New User can create an account if allowed by the administrator
      operationId: createprofile
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: profile
        in: query
        description: Name of the new user
        required: true
        type: string
      - name: email
        in: query
        description: Email id of the new user
        required: true
        type: string
      - name: password
        in: query
        description: Password for the new user
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/getprofileimage:
    get:
      tags:
      - profile
      summary: Profile_Related_API - getprofileimage is used to see the profile image of the user in FC system.
      description: Used to get the profile image of user
      operationId: getprofileimage
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: username
        in: query
        description: Specify the username you want to get profile image of
        required: true
        type: string
      - name: height
        in: query
        description: (optional) Specify the height
        required: true
        type: string
      - name: width
        in: query
        description: (optional) Specify the width
        required: true
        type: string
      responses:
        "200":
          description: The user's profile image is recieved.
          schema:
            type: string
            format: binary
  /core/getprofilesettings:
    post:
      tags:
      - profile
      summary: Profile_Related_API - getprofilesettings is used to get the saved settings of a profile
      description: Used to get the profile settings of a user
      operationId: getprofilesettings
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters: []
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/settings'
  /core/setdisplayname:
    get:
      tags:
      - profile
      summary: Profile_Related_API - setdisplayname is used to change display name of the user in settings
      description: User can change the display name in the system
      operationId: setdisplayname
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: dispname
        in: query
        description: Specify the display name you want to set
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/subscribe:
    post:
      tags:
      - profile
      summary: Profile_Related_API - subscribe is used to receive email about any notifications from the system
      description: User can Subscribe the emailid to recieve emails from the system
      operationId: subscribe
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: emailid
        in: query
        description: Email Id of user
        required: true
        type: string
      responses:
        "200":
          description: A webpage with success message
          schema:
            type: string
            format: binary
  /core/unsubscribe:
    post:
      tags:
      - profile
      summary: Profile_Related_API - unsubscribe is used to not get any email notification from the system
      description: User can unsubscribe the email id to not recieve any email from the system
      operationId: unsubscribe
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: emailid
        in: query
        description: Email Id of user
        required: true
        type: string
      responses:
        "200":
          description: A webpage with success message
          schema:
            type: string
            format: binary
  /core/updatepassword:
    post:
      tags:
      - profile
      summary: Profile_Related_API - updatepassword is used to change the password of the user from their profile
      description: User can change or update password of the system
      operationId: updatepassword
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: oldpassword
        in: query
        description: Old password of the user.
        required: true
        type: string
      - name: newpassword
        in: query
        description: New password the user wants to change to
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/getaccessdetailsforpath:
    post:
      tags:
      - file
      summary: File_Related_API - getaccessdetailsforpath is used to get permission a file/folder has in the system
      description: User can check the permission details of file or folder in the system (Read, write, download, etc.) (HTTP POST)
      operationId: getaccessdetailsforpath
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: fullpath
        in: query
        description: Path of the file/folder
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/permissions'
  /core/getfilelist:
    post:
      tags:
      - file
      summary: File_Related_API - getfilelist is used to navigate through files
      description: Users can get list of files and navigate through the files in system (HTTP POST)
      operationId: getfilelist
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: path
        in: query
        description: Path Name to be specified, If the user wants to access MyFiles then use the username as path.
        required: true
        type: string
      - name: sortdir
        in: query
        description: Set it to 1 for ascending sort , -1 for descending sort
        required: true
        type: string
      - name: sortby
        in: query
        description: You can sort by name, date or size.
        required: true
        type: string
      - name: start
        in: query
        description: Start index of records to retrieve, Note- Index starts from 0. Default 0
        required: true
        type: string
      - name: limit
        in: query
        description: Set to any number of record you want to view at once. Default 10
        required: true
        type: string
      - name: sendcommentinfo
        in: query
        description: whether to send comment info...value is either 1 or 0
        required: true
        type: string
      - name: sendmetadatasetinfo
        in: query
        description: whether to send metadata set info...value is either 1 or 0
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/entries'
  /core/getfolderproperties:
    post:
      tags:
      - file
      summary: File_Related_API - getfolderproperties is used to see the contents of the folder
      description: User can view the total number of files and versioned files of a folder
      operationId: getfolderproperties
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: path
        in: query
        description: Path of the folder
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/folderproperties'
  /core/getwopiediturl:
    post:
      tags:
      - file
      summary: File_Related_API - getwopiediturl is used for online editing for supported documents
      description: Users can edit Office online web document files and the changes made will be saved automatically.
      operationId: getwopiediturl
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/octet-stream
      parameters:
      - name: path
        in: query
        description: Specify the location of file
        required: true
        type: string
      responses:
        "200":
          description: Opens a file to edit
          schema:
            type: string
            format: binary
  /core/searchtermsearch:
    post:
      tags:
      - file
      summary: File_Related_API - searchtermsearch api is used to specify the search term
      description: Specify the search term
      operationId: searchtermsearch
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: searchterm
        in: query
        description: Specify the search term
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/searchterms'
  /core/upload:
    post:
      tags:
      - file
      summary: File_Related_API - uploadfile is used to upload files to the system
      operationId: upload
      consumes:
      - multipart/form-data
      produces:
      - application/xml
      parameters:
      - name: file
        in: formData
        required: false
        type: file
      - name: appname
        in: formData
        description: Agent use to upload files to system
        required: true
        type: string
      - name: path
        in: formData
        description: Specify the path where you want to upload the file
        required: true
        type: string
      - name: offset
        in: formData
        description: Offset set to 0
        required: true
        type: number
      - name: complete
        in: formData
        description: Complete set to 1
        required: true
        type: number
      - name: filename
        in: formData
        description: File name to be uploaded inside the folder
        required: true
        type: string
      - name: date
        in: formData
        description: (Optional)Specify UTC date format
        required: false
        type: string
        format: date
      responses:
        "200":
          description: Upload OK
          schema:
            type: string
  /core/getfsslideimage:
    post:
      tags:
      - image
      summary: Image_Related_API - getfsslideimage is used to view the images in the form of slide show.
      description: User can view a single image or multiple images in the form of slideshow in the system (HTTP POST)
      operationId: getfsslideimage
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/octet-stream
      parameters:
      - name: name
        in: query
        description: Name of the image file, eg /Path/Image file name.
        required: false
        type: string
      - name: width
        in: query
        description: Width of the image to open
        required: true
        type: number
      - name: height
        in: query
        description: Height of the image to open
        required: true
        type: number
      responses:
        "200":
          description: Image file you wanted is opened.
          schema:
            type: string
            format: binary
  /core/getfsthumbimage:
    get:
      tags:
      - image
      summary: Image_Related_API - getfsthumbimage
      description: User can view image in the system (HTTP POST)
      operationId: getfsthumbimage
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/octet-stream
      parameters:
      - name: name
        in: query
        description: FileCloud specific location of the file
        required: false
        type: string
      - name: width
        in: query
        description: Width of the image to open
        required: true
        type: number
      - name: height
        in: query
        description: Height of the image to open
        required: true
        type: number
      - name: id
        in: query
        description: id of the file
        required: false
        type: string
      responses:
        "200":
          description: A thumb image file you wanted is opened.
          schema:
            type: string
            format: binary
  /core/rotatefsimage:
    get:
      tags:
      - image
      summary: Image_Related_API - rotatefsimage is used to rotate the image in FC system
      description: User can rotate the image either clock-wise or anti clock-wise  in the system (HTTP POST)
      operationId: rotatefsimage
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: name
        in: query
        description: Name of the image file to be rotated, eg /Path/Image file name.
        required: true
        type: string
      - name: angle
        in: query
        description: Angle od rotation is either 90 or -90
        required: true
        type: number
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/getalllocks:
    post:
      tags:
      - lock
      summary: Lock_Related_API - getalllocks is used to get all the files and folders which are locked in the system
      description: User can get all the locked file/folders in the system
      operationId: getalllocks
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters: none
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/locks'
  /core/getfilelockinfo:
    get:
      tags:
      - lock
      summary: Lock_Related_API - getfilelockinfo is used to get the information about locked files
      description: Gets the details about locked files if user specifies the path
      operationId: getfilelockinfo
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: path
        in: query
        description: Specify the path you want to get information about locks
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/filelockinfos'
  /core/lock:
    post:
      tags:
      - lock
      summary: Lock_Related_API - lock is used to lock a file or folder
      description: User can lock a file/folder.
      operationId: lock
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: path
        in: query
        description: Specify the path you want to lock
        required: true
        type: string
      - name: expiration
        in: query
        description: (Optional) Set an expiration date for locked file/folder
        required: true
        type: string
      - name: readlock
        in: query
        description: (Optional) Set if you want to restrict download of the locked file/folder.
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/unlock:
    post:
      tags:
      - lock
      summary: Lock_Related_API - unlock is used to unlock the already locked file/folder
      description: User can unlock a file/folder.
      operationId: unlock
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: path
        in: query
        description: Specify the path you want to unlock
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/addgrouptoshare:
    post:
      tags:
      - share
      summary: Share_Related_API - addgrouptoshare is used to add an existing group to a privately shared file/folder
      description: User can add a group to access privately shared files in the system
      operationId: addgrouptoshare
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: groupid
        in: query
        description: Group ID number of the group to be added to private share
        required: true
        type: string
      - name: shareid
        in: query
        description: Share ID number
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/addusertoshare:
    post:
      tags:
      - share
      summary: Share_Related_API - addusertoshare is used to add an existing user to access the privately shared file/folder
      description: User can add selective user's to access private shared files in the system
      operationId: addusertoshare
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: userid
        in: query
        description: Specify the user's email id you want to share the file to
        required: true
        type: string
      - name: shareid
        in: query
        description: Share ID number
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands' 
  /core/adduserstoshare:
    post:
      tags:
      - share
      summary: Share_Related_API - This endpoint allows adding multiple users to a single share in one go
      description: Used to add a comma separated list of users to a file/folder share.
      operationId: createprofileoninvite
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: shareid
        in: query
        description: Id of the share users are being added to.
        required: true
        type: string
      - name: users
        in: query
        description: Comma separated list of user emails.
        required: true
        type: string
      - name: sendemail
        in: query
        description: Specifies whether the email should be sent to all invited users (this also relies on the System configuration)
        required: false
        type: string
      - name: custom_subject
        in: query
        description: A common, custom subject that will be used for all emails sent to users added to share
        required: false
        type: string	
      - name: custom_message
        in: query
        description: A custom message that will be added to saved email templates, replacing the ^MESSAGE^ placeholder. If that placeholder doesn't exist a separate email containing that message will be sent.
        required: false
        type: string
      - name: adduserstoshare_subject
        in: query
        description: A custom subject for emails sent to existing, non-external (limited) users
        required: false
        type: string
      - name: adduserstoshare_body
        in: query
        description: A custom email body that will be sent to existing, non-external (limited) users
        required: false
        type: string
      - name: addusertoshare_emails
        in: query
        description: A comma-separated list of additional emails, to whom that email will be sent. NOTE- those users won't be added to the share.
        required: false
        type: string
      - name: addnewuserstoshare_subject
        in: query
        description: A custom subject for emails sent to invited users that will be added to the system as a non-external (limited) user.
        required: false
        type: string	
      - name: addnewuserstoshare_body
        in: query
        description: A custom email body that will be sent to invited users that will be added to the system as a non-external (limited) user.
        required: false
        type: string
      - name: addnewusertoshare_emails
        in: query
        description: A comma-separated list of additional emails, to whom that email will be sent. NOTE- those users won't be added to the share!
        required: false
        type: string	
      - name: adduserstoshare_limited_subject
        in: query
        description: A custom subject for existing, external (limited) users
        required: false
        type: string
      - name: adduserstoshare_limited_body
        in: query
        description: A custom email body that will be sent to existing, external (limited) users
        required: false
        type: string
      - name: addusertoshare_limited_emails
        in: query
        description: A comma-separated list of additional emails, to whom that email will be sent. NOTE- those users won't be added to the share!
        required: false
        type: string	
      - name: addnewuserstoshare_limited_subject
        in: query
        description: A custom subject for emails sent to non-existing, external (limited) users
        required: false
        type: string
      - name: addnewuserstoshare_limited_body
        in: query
        description: A custom email body that will be sent to non-existing, external (limited) users
        required: false
        type: string    
      - name: addnewusertoshare_limited_emails
        in: query
        description: A comma-separated list of additional emails, to whom that email will be sent. NOTE- those users won't be added to the share!
        required: false
        type: string        
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'            
  /core/createprofileoninvite:
    post:
      tags:
      - share
      summary: Share_Related_API - createprofileoninvite is used to create a new user account for the user who doesn't exist on FC system
      description: Used to Create a user profile for a non existing user to access the shared file/folder. Profile invite is sent via email.
      operationId: createprofileoninvite
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: email
        in: query
        description: Specify the emailid of the user to invite
        required: true
        type: string
      - name: shareid
        in: query
        description: Specify the share ID of the user to invite
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/deletegroupfromshare:
    post:
      tags:
      - share
      summary: Share_Related_API - deletegroupfromshare is used to delete a group from the exisiting privately shared file/folder which was already shared to the group previously
      description: User can remove the group from access to privately shared files in the system
      operationId: deletegroupfromshare
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: groupid
        in: query
        description: Group Id number
        required: true
        type: string
      - name: shareid
        in: query
        description: Share Id number
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/deleteshare:
    post:
      tags:
      - share
      summary: Share_Related_API - deleteshare is used to remove the already shared file/folder which was shared to a user previously
      description: User can delete share and remove the access of share which was done to a shared user previously.
      operationId: deleteshare
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: shareid
        in: query
        description: Share Id number of file/folder for which the share has to be removed
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/deleteuserfromshare:
    post:
      tags:
      - share
      summary: Share_Related_API - deleteuserfromshare is used to remove a user from a privately shared file/folder
      description: User can delete the shared users from a particular private share of file/folder
      operationId: deleteuserfromshare
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: userid
        in: query
        description: Specify the email id of user to be removed from share
        required: true
        type: string
      - name: shareid
        in: query
        description: Share Id number
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/getemailsubject:
    post:
      tags:
      - share
      summary: Share_Related_API - getemailsubject is used to get email subject to send it to the user
      description: Get email subject is used to get email sujbect to be sent to user.
      operationId: getemailsubject
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: op
        in: query
        description: Operation... Ie, 'getemailsubject'
        required: true
        type: string
      - name: param
        in: query
        description: Template name
        required: true
        type: string
      - name: CUSTOMIZATION_EMAIL_SUBJECT_addusertoshare
        required: false
        type: string
      - name: toemailid
        in: query
        description: To email id
        required: false
        type: string
      - name: keepuserplaceholders
        in: query
        description: When it's set to 1 the user-related placeholders(^TOEMAILID^ , ^TO^) are not being replaced when fetching the template. Only common, 'global' values, are replaced with the values.
        required: false
        type: string 
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/config'
  /core/getemailtemplate:
    post:
      tags:
      - share
      summary: Share_Related_API - getemailtemplate is used to get email template to send it to the user
      description: Get email template to send it to the user
      operationId: getemailtemplate
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/html
      parameters:
      - name: templatename
        in: query
        description: Template name
        required: true
        type: string
      - name: sharename
        in: query
        description: Share name
        required: true
        type: string
      - name: shareurl
        in: query
        description: Share URL
        required: true
        type: string
      - name: toemailid
        in: query
        description: To Email ID
        required: true
        type: string
      - name: keepuserplaceholders
        in: query
        description: When it's set to 1 the user-related placeholders(^TOEMAILID^ , ^TO^) are not being replaced when fetching the template. Only common, 'global' values, are replaced with the values.
        required: false
        type: string        
      responses:
        "200":
          description: A HTML page is displayed
          schema:
            type: string
            format: binary
            example: A HTML page is displayed
  /core/getgroupaccessforshare:
    get:
      tags:
      - share
      summary: Share_Related_API - getgroupaccessforshare is used to get permission details of a group for shared file/folder
      description: User can get group access details for a shared file or folder
      operationId: getgroupaccessforshare
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: shareid
        in: query
        description: Share Id number
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/groups'
  /core/getmanageablesharesall:
    get:
      tags:
      - share
      summary: Share_Related_API - getmanageablesharesall is used to get details of all the managed shares.
      description: Get all the manageable shares
      operationId: getmanageablesharesall
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: op
        in: query
        description: Operation API to be performed
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/shares'
  /core/getmanageablesharesforpath:
    get:
      tags:
      - share
      summary: Share_Related_API - getmanageablesharesforpath is used to get information about manageable shares for a particular path.Also shows the shared child paths
      description: User can get details of managable share for a specific path
      operationId: getmanageablesharesforpath
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: path
        in: query
        description: Path of the shared folder
        required: true
        type: string
      - name: showchildpaths
        in: query
        description: Path of the child folders
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/shares'
  /core/getmostactiveshares:
    post:
      tags:
      - share
      summary: Share_Related_API - getmostactiveshares is used to get information about the shared item which was accessed more number of times.
      description: API that gets the most active shares for the user logged in. Most active share is defined by the number of times the share is accessed for any reason.
      operationId: getmostactiveshares
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters: []
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/activeshares'
  /core/getprivateurlforemail:
    get:
      tags:
      - share
      summary: Share_Related_API - getprivateurlforemail is used to get a unique and short private url link to access the shared file/folder
      description: A unique private url is generated which can be accessed by the user to view/edit/share/download the privately shared file/folder
      operationId: getprivateurlforemail
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - string
      parameters:
      - name: shareid
        in: query
        description: Share Id Number
        required: true
        type: string
      responses:
        "200":
          description: XML PropertyList Response Success
          schema:
            type: string
            format: binary
            example: http://127.0.0.1/urleq34wuslejgk
  /core/getpublicshareauthinfo:
    post:
      tags:
      - share
      summary: Share_Related_API - getpublicshareauthinfo
      description: Get public share authentication info
      operationId: getpublicshareauthinfo
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: path
        in: query
        description: Specify the share path
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/getrandompassword:
    get:
      tags:
      - share
      summary: Share_Related_API - getrandompassword is used to get a random password generated by the FC system in order to access the share
      description: User gets a random password while sharing using protected share option
      operationId: getrandompassword
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters: []
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/getrecentshareactivityforuser:
    get:
      tags:
      - share
      summary: Share_Related_API - getrecentshareactivityforuser
      description: API to get the top share activity from all shares for the user logged in.
      operationId: getrecentshareactivityforuser
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters: []
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/shareactivities'
  /core/getshareactivityforshare:
    post:
      tags:
      - share
      summary: Share_Related_API - getshareactivityforshare is used to get the list of share activities
      description: USed to get the list of share activities
      operationId: getshareactivityforshare
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: shareid
        in: query
        description: Share ID
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/shareactivities'
  /core/getshareforid:
    post:
      tags:
      - share
      summary: Share_Related_API - getshareforid
      description: Get the list of share activityUser can get share details by using shareid
      operationId: getshareforid
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: shareid
        in: query
        description: Share Id Number
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/shares'
  /core/getshareforpath:
    post:
      tags:
      - share
      summary: Share_Related_API - getshareforpath is used to get all details of the share by specifying the shared file/folder path
      description: User can get share details or information about a particular share by specifying the path of the shared file or folder
      operationId: getshareforpath
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: path
        in: query
        description: Path of shared file/folder to get details
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/shares'
  /core/getsharepassword:
    get:
      tags:
      - share
      summary: Share_Related_API - getsharepassword
      description: Get protected share password
      operationId: getsharepassword
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: shareid
        in: query
        description: Specify the share Id
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/shares'
  /core/getshares:
    get:
      tags:
      - share
      summary: Share_Related_API - getshares is used to get information about all the shares done in a system
      description: User can get information about all the shares done for a file/folder in system
      operationId: getshares
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters: []
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/shares'
  /core/getsharesfilter:
    get:
      tags:
      - share
      summary: Share_Related_API - getsharesfilter is used to get information about the shares done in a system by specifying the path
      description: User can get the share information of shared file/folder in the system by specifying a particular path
      operationId: getsharesfilter
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: location
        in: query
        description: Specify the location with the filename to be shared
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/shares'
  /core/getuploadform:
    get:
      tags:
      - share
      summary: Share_Related_API - getuploadform is used to get a upload form for a publicly shared folder with upload permission
      description: User can get the upload form with all the upload permissions specified while sharing a folder publicly to a user
      operationId: getuploadform
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - string
      parameters:
      - name: shareid
        in: query
        description: Share Id Number of the publicly shared folder
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            type: string
            format: binary
            example: Upload form
  /core/geturlforemail:
    get:
      tags:
      - share
      summary: Share_Related_API - geturlforemail is used to get a share url link while sharing the file/folder through email
      description: A share url link is generated by the system when user shares a file or folder through an email.
      operationId: geturlforemail
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - string
      parameters:
      - name: shareid
        in: query
        description: Share Id Number
        required: true
        type: string
      - name: sharename
        in: query
        description: Share Name
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            type: string
            format: binary
            example: http://127.0.0.1/urleq34wuslejgk
  /core/getuseraccessforshare:
    get:
      tags:
      - share
      summary: Share_Related_API - getuseraccessforshare is used to get permission details of a user for a shared file/folder
      description: User can get details of the user's access (such as read,download,upload, etc.) for a shared file or folder
      operationId: getuseraccessforshare
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: shareid
        in: query
        description: Share Id Number of the shared file/folder
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/users'
  /core/leaveshare:
    get:
      tags:
      - share
      summary: Share_Related_API - leaveshare is used to leave from an already shared file/folder by a user
      description: User can leave from an existing shared file/folder
      operationId: leaveshare
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: path
        in: query
        description: Path of the shared file/folder
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/loginprotectedshare:
    post:
      tags:
      - share
      summary: Share_Related_API - loginprotectedshare is used to login to access the protected share
      description: USer has to login to the FC system and enter the share password in order to access the protected share
      operationId: loginprotectedshare
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: fullquerystring
        in: query
        description: Specify the full query string
        required: true
        type: string
      - name: password
        in: query
        description: Password for protected share
        required: true
        type: string
      - name: path
        in: query
        description: Specify the shared path
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/commands'
  /core/quickshare:
    post:
      tags:
      - share
      summary: Share_Related_API - quickshare is used to share files to a user by generating link in system
      description: User can share files to others by generating a link in the system (HTTP POST)
      operationId: quickshare
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: sharelocation
        in: query
        description: Specify the location with the filename to be shared
        required: true
        type: string
      - name: showadvancedsharedialog
        in: query
        description: whether advanced share dialog should be displayed or no. Vales can be 0 or 1(0 - when a new public share is created, 1 - otherwise (a new private share is created or an existing share is being accessed))
        required: false
        type: string        
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/shares'
  /core/searchgroups:
    post:
      tags:
      - share
      summary: Share_Related_API - searchgroups is used to search for existing groups in the system in order to add to a shared file or folder
      description: USer can search for groups in the system to add a group to a shared folder or file.
      operationId: searchgroups
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters: []
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/searchgroups'
  /core/searchprofiles:
    post:
      tags:
      - share
      summary: Share_Related_API - searchprofiles is used to search for a user to share a file/folder
      description: USer can search for profile in system either by using a username or email to share a file/folder to the user.
      operationId: searchprofiles
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: filter
        in: query
        description: Partial name/email for search
        required: true
        type: string
      - name: context
        in: query
        description: when context=share additional, share-related information is being sent in the response
        required: false
        type: string
      - name: shareid
        in: query
        description: used only when context=share
        required: false
        type: string        
      responses:
        "200":
          description: Success 200
          examples:
            application/xml: |-
              case 1 - profiles matching filter string exist(without context and shareid)
              <profiles>
                  <profile>
                          <userid>sam</userid>
                          <username>sam</username>
                          <emailid>sam@codelathe.com</emailid>
                          <displayname>sam</displayname>
                          <sizelimit>2147483648</sizelimit>
                          <hasprofileimage></hasprofileimage>
                  </profile>
              </profiles>
              Case 2 - profiles matching filter string exist(with context and shareid)
              <profiles>
                  <meta>
                      <showemailpreview>1</showemailpreview>
                      <sendemail>1</sendemail>
                  </meta>
                  <profile>
                      <userid>tester</userid>
                      <username>tester</username>
                      <emailid>tester@codelathe.com</emailid>
                      <status>1</status>
                      <displayname>Tester</displayname>
                      <sizelimit>53687091200</sizelimit>
                      <hasprofileimage></hasprofileimage>
                      <inviteallowed>1</inviteallowed>
                      <invitenotallowederror></invitenotallowederror>
                      <emailtemplate>addusertoshare</emailtemplate>
                  </profile>
              </profiles>
              Case 3 - there are no profiles matching filter criteria(with context and shareid)
              <profiles>
                  <meta>
                      <showemailpreview>1</showemailpreview>
                      <sendemail>1</sendemail>
                      <inviteallowed>0</inviteallowed>
                      <invitenotallowederror>domain.com domain not allowed</invitenotallowederror>
                      <newuseremailtemplate>addnewusertoshare</newuseremailtemplate>
                      <phonenumberrequired>0</phonenumberrequired>
                      <displaynamerequired>0</displaynamerequired>
                  </meta>
              </profiles>
              Notes
              -----
              Response fields - when share=context and shareid are provided
                                meta - section containing global settings and settings related to the new user being invited to share.
                                   �Global settings
                                           �showemailpreview [0|1] - A global setting that specifies whether email preview dialog should be shown in the UI
                                           �sendemail [0|1] - A global setting that specifies whether emails will be sent to the invited users.
                                   �Non-existing, invited user data 
                                           �inviteallowed [0|1] - specifies whether user can be added to the share or not.
                                           �invitenotallowederror [string] - provides the reason why invitation is not allowed
                                           �newuseremailtemplate [string] - the name of the email template that should be used for the new user's email account.
                                           �phonenumberrequired [0|1] - specifies whether phone number is required for the new user.
                                           �displaynamerequired [0|1] - specifies whether display name is required for the new user.                                          
            summary: profiles matching filter string exist
          schema:
            $ref: '#/definitions/profiles'
  /core/sendemail:
    post:
      tags:
      - share
      summary: Share_Related_API - sendemail is used to send email to the user
      description: User can Send an email to another user by filling out the required fields in the email template
      operationId: sendemail
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: from
        in: query
        description: From User Name
        required: true
        type: string
      - name: toemailid
        in: query
        description: To Email ID
        required: true
        type: string
      - name: message
        in: query
        description: Email Template
        required: true
        type: string
      - name: subject
        in: query
        description: Subject of the email
        required: true
        type: string
      - name: userid
        in: query
        description: User ID
        required: true
        type: string
      - name: publicshare
        in: query
        description: Share ID
        required: true
        type: string
      - name: replyto
        in: query
        description: Reply To Email ID
        required: true
        type: string
      - name: shouldsendemail
        in: query
        description: Email to be sent or not
        required: true
        type: string
      - name: bccemailid
        in: query
        description: Email id in bcc field
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/emailstatus'
  /core/sendsharetoemail:
    post:
      tags:
      - share
      summary: Share_Related_API - sendsharetoemail is used to send the shared file or folder through email
      description: User can send a shared file/folder to email of the recipient
      operationId: sendsharetoemail
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: from
        in: query
        description: From User Name
        required: true
        type: string
      - name: toemailid
        in: query
        description: To Email ID
        required: true
        type: string
      - name: sharename
        in: query
        description: Share name of the file/folder
        required: true
        type: string
      - name: sharelocation
        in: query
        description: Share location of the file/folder
        required: true
        type: string
      - name: url
        in: query
        description: Share url of the file/folder
        required: true
        type: string
      - name: message
        in: query
        description: Email Template
        required: true
        type: string
      - name: subject
        in: query
        description: Subject of the email
        required: true
        type: string
      - name: userid
        in: query
        description: User ID
        required: true
        type: string
      - name: publicshare
        in: query
        description: Share ID
        required: true
        type: string
      - name: replyto
        in: query
        description: Reply To Email ID
        required: true
        type: string
      responses:
        "200":
          description: Success 200
          schema:
            $ref: '#/definitions/emailstatus'
  /core/setallowpublicaccess:
    get:
      tags:
      - share
      summary: Share_Related_API - setallowpublicaccess is used to set either a private or public access to a shared file
      description: User can use custom permissions when creating a share. User can set a shared file to public or private access in the system
      operationId: setallowpublicaccess
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/xml
      parameters:
      - name: shareid
        in: query
        description: Share Id number
        required: true
        type: string
      - name: allowpublicaccess
        in: query
        description: If set to 1 - allow public access , 0 - private access only
        required: true
        type: string
      - name: allowpublicupload
        in: query
        description: If set to 1 - allow public access , 0 - private access only
        required: true
        type: string
      - name: allowpublicviewonly
        in: query
        description: If set to 1 - allow public access , 0 - private access only
        required: true
        type: string
      - name: allowpublicuploadonly
        in: query
[...]
